if TARGET_MSC_SM2S_IMX8MM

config SYS_BOARD
	default "sm2s_imx8mm"

config SYS_VENDOR
	default "msc"

config SYS_CONFIG_NAME
	default "msc_sm2s_imx8mm"

config IMX_CONFIG
	default "board/msc/sm2s_imx8mm/imximage-8mm.cfg"

config IMX8M_1G_MEMORY
	bool "imx8m 1GB memory size"

endif
